<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmk.ex.mapper.BoardMapper">
	
	<select id="getList" resultType="com.wmk.ex.vo.BoardVO">
	<!--여기에 sql 구문이 들어가며, 끝에 반드시 ; 없어야 한다!  -->
	<![CDATA[ 
		select bId, bName, bTitle, bContent, bDate, bHit, bGroup, bStep, bIndent from wmk_mvc_board order by bGroup desc, bStep asc
	]]>
 	</select>
	
	<!--xml이 아니다. 필요한 이유, sql의  구문으로 읽어라 -->
	<!--여기 있는 구문은 xml 아니다!! 라는 뜻  -->
	<!--가장 대표적인 것이 부등호 이다. ">"  -->
	<!--그래서 기본적으로 넣어주는게 좋다.  -->
	<select id="read" resultType="com.wmk.ex.vo.BoardVO">
	<![CDATA[ 
		select * from wmk_mvc_board where bId = #{bId} 
	]]>
	</select> <!--#을 치고 {bId} 들어가야지 값이 들어간다.  -->
	
	<!--# 가지고 올 수 있는 이유는, getter 함수를 가지고 오는 것이다.    -->
	<!--mapper 에서 boardVO을 가지고 오는 것이다.    -->
 	<update id="updateShape" >
	<![CDATA[
		update wmk_mvc_board set bStep = bStep + 1 where bGroup = #{bGroup} and bStep > #{bStep}
	]]>
	</update>
	
	<insert id="insertReply" >
	<![CDATA[
		insert into wmk_mvc_board (bId, bName, bTitle, bContent, bGroup, bStep, bIndent) values (mvc_board_seq.nextval, #{bName}, #{bTitle},#{bContent}, #{bGroup}, #{bStep}+1, #{bIndent}+1)
	]]>
	</insert>
	
	<!--여기는 부동호 및 기호가 없으니 CDATA가 필요 없다.  -->
	<insert id="insertBoard" >
		insert into wmk_mvc_board (bId, bName, bTitle, bContent, bHit, bGroup, bStep, bIndent) values (mvc_board_seq.nextval, #{bName}, #{bTitle}, #{bContent}, 0, mvc_board_seq.currval, 0, 0)
	</insert> 
	
	<insert id="updateModify" >
	<![CDATA[
		update wmk_mvc_board set bName = #{bName}, bTitle = #{bTitle}, bContent = #{bContent} where bId = #{bId}
	]]>
	</insert>
	
	<insert id="addUphit" >
	<![CDATA[
		update wmk_mvc_board set bHit = bHit + 1 where bId = #{bId}
	]]>
	</insert>
	
	
	 

</mapper>
