<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmk.ex.mapper.BoardMapper">
	
	<select id="getList" resultType="com.wmk.ex.vo.BoardVO">
	<!--여기에 sql 구문이 들어가며, 끝에 반드시 ; 없어야 한다! wmk_mvc_board와 wmk_board_file join. -->
	<![CDATA[ 
		select 
     		a.bId, bName, bTitle, bContent,  bDate, bHit, bGroup, bStep, bIndent, b.stored_file_name as storedFileName
	    from wmk_mvc_board a
       		left join wmk_board_FILE b
	        on( a.bId = b.bId)
			order by bGroup desc, bStep asc
	]]>
 	</select>
	
	<!--xml이 아니다. 필요한 이유, sql의  구문으로 읽어라 -->
	<!--여기 있는 구문은 xml 아니다!! 라는 뜻  -->
	<!--가장 대표적인 것이 부등호 이다. ">"  -->
	<!--그래서 기본적으로 넣어주는게 좋다.  -->
	<select id="read" resultType="com.wmk.ex.vo.BoardVO">
	<![CDATA[ 
		select * from wmk_mvc_board where bId = #{bId} 
	]]>
	</select> <!--#을 치고 {bId} 들어가야지 값이 들어간다.  -->
	
	<!--# 가지고 올 수 있는 이유는, getter 함수를 가지고 오는 것이다.    -->
	<!--mapper 에서 boardVO을 가지고 오는 것이다.    -->
 	<update id="updateShape" >
	<![CDATA[
		update wmk_mvc_board set bStep = bStep + 1 where bGroup = #{bGroup} and bStep > #{bStep}
	]]>
	</update>
	
	<insert id="insertReply" >
	<![CDATA[
		insert into wmk_mvc_board (bId, bName, bTitle, bContent, bGroup, bStep, bIndent) values (mvc_board_seq.nextval, #{bName}, #{bTitle},#{bContent}, #{bGroup}, #{bStep}+1, #{bIndent}+1)
	]]>
	</insert>
	
	<!--여기는 부동호 및 기호가 없으니 CDATA가 필요 없다.  -->
	<insert id="insertBoard" >
		insert into wmk_mvc_board (bId, bName, bTitle, bContent, bHit, bGroup, bStep, bIndent) values (mvc_board_seq.nextval, #{bName}, #{bTitle}, #{bContent}, 0, mvc_board_seq.currval, 0, 0)
	</insert> 
	
	<insert id="updateModify" >
	<![CDATA[
		update wmk_mvc_board set bName = #{bName}, bTitle = #{bTitle}, bContent = #{bContent} where bId = #{bId}
	]]>
	</insert>
	
	<insert id="addUphit" >
	<![CDATA[
		update wmk_mvc_board set bHit = bHit + 1 where bId = #{bId}
	]]>
	</insert>
	
	
	<select id="getListWithPaging" resultType="com.wmk.ex.vo.BoardVO">
		<![CDATA[
			SELECT * FROM (
			     SELECT ROWNUM AS RNUM, A.* FROM (
	               		select 
	               			a.bId, bName, bTitle, bContent,  bDate, bHit, bGroup, bStep, bIndent, b.stored_file_name as storedFileName
					    from wmk_mvc_board a
				       		left join wmk_board_FILE b
					        on( a.bId = b.bId)
							order by bGroup desc, bStep asc
			    ) A WHERE ROWNUM <= #{pageNum} * #{amount}
			) WHERE RNUM > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*)	from wmk_mvc_board where bId>0
	</select>
	
	<!-- 게시글 서치 -->
	<!-- <select id="findBoardByTitle" parameterType="String" resultMap="boardResult">
        select *from wmk_mvc_board where name like #{btitle}
	</select>
	
	<select id="findBoardByWriter" parameterType="String" resultMap="boardResult">
        select *from wmk_mvc_board where name like #{bname}
	</select>
	     
	<select id="findBoardByContent" parameterType="String" resultMap="boardResult">
	       select *from wmk_mvc_board where content like #{bcontent}
	</select>
 -->
	
	<!-- 게시글 서치 -->
	<select id="findBoardByTitle" parameterType="String" resultType="com.wmk.ex.vo.BoardVO">
		<!-- select *from wmk_mvc_board where bTitle like #{bTitle}  --> <!-- 유저가 입력한 정확한 검색어와 매칭되는 것만 출력됨 -->
		select *from wmk_mvc_board where bTitle like '%'||#{bTitle}||'%' <!-- 유저가 입력한 검색어가 포함된 리스트가 출력됨 -->
	</select>
	
	
	<!--댓글 목록  -->
	<select id="readReply" resultType="com.wmk.ex.vo.ReplyVO">
    	SELECT
    		  RID, CONTENT, WRITER, REGDATE
    	 FROM wmk_mvc_board_reply
    	WHERE BID = #{bId}
	</select>
	
	
	<insert id="writeReply">
		INSERT INTO WMK_MVC_BOARD_REPLY(
			BID,
			RID,
			CONTENT,
			WRITER
		)
		VALUES(  #{bId},
				 WMK_MVC_BOARD_REPLY_SEQ.NEXTVAL,
			 	#{Content},
			 	#{Writer}	)
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="com.wmk.ex.vo.ReplyVO">
		DELETE FROM WMK_MVC_BOARD_REPLY
		WHERE RID = #{rid}
	</delete>
	
	<!-- 첨부파일 업로드    parameterType="hashMap"인 경우 value에 대문자로 들어가야한다. -->
	<insert id="insertFile" parameterType="hashMap" >
		<![CDATA[
		insert into wmk_board_FILE (
	        file_no
	        , bId
	        , ORIGINAL_FILE_NAME
	        , STORED_FILE_NAME
	        , FILE_SIZE
	        , regdate
	        , DEL_GB
	    ) values (
	        wmk_board_file_no_seq.nextval
	        , mvc_board_seq.currval   
	        , #{ORIGINAL_FILE_NAME ,jdbcType=VARCHAR}
	        , #{STORED_FILE_NAME ,jdbcType=VARCHAR}
	        , #{FILE_SIZE, jdbcType=VARCHAR}
	        , sysdate
	        , 'N'
	    )
		]]>
	
	</insert>
	
	<!-- bid 현재값을 집어 넣어준다. -->
	
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO,
			   ORIGINAL_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
			   STORED_FILE_NAME
			   
		  FROM WMK_BOARD_FILE
		 WHERE bId = #{bId}
		   AND DEL_GB = 'N'
	</select>
	
	
	
	<!--쇼핑몰  -->
	<insert id="signup">
	 	insert into tbl_member(userId, userPass, userName, userPhon)
	  	values(#{userId}, #{userPass}, #{userName}, #{userPhon}) 
	</insert>
	
	
	<!-- 로그인 -->
	<select id="signin" resultType="com.wmk.ex.vo.MemberVO">
		 select
		     userId, userName, userPass, userPhon, userAddr1, userAddr2, userAddr3, regiDate, verify
		 from
		     tbl_member
		 where userId = #{userId}
	</select>
	
	
	<!-- 게시글 좋아요 -->
    <insert id= "insertLike" parameterType="java.util.Map" >
    	insert into likes(bId, id) value(#{bId}, #{id})
    </insert>
    
    <!-- 게시글 좋아요 취소 -->
    <delete id="deleteLike" parameterType="java.util.Map" >
    	delete from likes where bId = #{bId} and id= #{id}
    </delete>
    
    <!-- 좋아요 여부 --> 
    <select id="getLike" parameterType="com.wmk.ex.vo.LikeVO" resultType="com.wmk.ex.vo.LikeVO" >
    	select bLikeNumber from likes where bId= #{bId} and id= #{id}
    </select>
    
    <!-- 좋아요 카운트 -->
    <select id= "likeCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    	select count(*) from likes where bId= #{bId}
    </select>
	 

</mapper>
