<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmk.ex.mapper.FBoardMapper">
	
	<!--게시판 목록  -->
	<select id="getList" resultType="com.wmk.ex.vo.FBoardVO">
	<![CDATA[ 
		select 
     		fBoard_Num, fId, fTitle, fContent, fDate, fHit, fGroup, fStep, fIndent
	    from FREE_BOARD
	]]>
 	</select>
 	
 	<!--게시판 번호-->
 	<select id="getNum" resultType="com.wmk.ex.vo.FBoardVO">
	<![CDATA[ 
		select * from FREE_BOARD where fBoard_Num = #{fBoard_Num} 
	]]>
	</select>
	
	<!--게시판 작성-->
	<insert id="writeBoard" >
		insert into FREE_BOARD (fBoard_Num, fId, fTitle, fContent, fHit, fGroup, fStep, fIndent) 
			values (free_board_seq.nextval, #{fId}, #{fTitle}, #{fContent}, 0, mvc_board_seq.currval, 0, 0)
	</insert> 
	 

</mapper>
