<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmk.ex.mapper.ShopMapper">
	

<!-- 카테고리별 상품 리스트 : 1차 분류 -->
<select id="list_1" resultType="com.wmk.ex.vo.GoodsViewVO">
select
    g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName,
    gdsPrice, gdsStock, gdsDes, gdsDate, g.gdsImg, g.gdsThumbImg
        from tbl_goods g
            inner join goods_category c
                on g.cateCode = c.cateCode           
            where g.cateCode = #{cateCode}
             or c.cateCodeRef = #{cateCodeRef}
</select>

<!-- 카테고리별 상품 리스트 : 2차 분류 -->
<select id="list_2" resultType="com.wmk.ex.vo.GoodsViewVO">
select
    g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName,
    gdsPrice, gdsStock, gdsDes, gdsDate, g.gdsImg, g.gdsThumbImg
        from tbl_goods g
            inner join goods_category c
                on g.cateCode = c.cateCode           
            where g.cateCode = #{cateCode}
</select>
	
<!-- 상품 소감(댓글) 작성 -->
<insert id="registReply">
 insert into tbl_reply (gdsNum, userId, repNum, repCon)
     values (#{gdsNum}, #{userId}, tbl_reply_seq.nextval, #{repCon})
</insert>	


<!-- 상품 소감(댓글) 리스트 -->
<select id="commentList" resultType="com.wmk.ex.vo.CommentListVO">
 select
     r.gdsNum, r.userId, r.repNum, r.repCon, r.repDate, m.userName
 from tbl_reply r
     inner join tbl_member m
         on r.userId = m.userId
     where gdsNum = #{gdsNum}
</select>


<!-- 상품 소감(댓글) 삭제 -->
<delete id="deleteReply">
 delete tbl_reply
     where repNum = #{repNum}
         and userId = #{userId}
</delete>


<!-- 아이디 체크 -->
<select id="replyUserIdCheck" resultType="String">
 select userId
  from tbl_reply
      where repNum = #{repNum}
</select>

<!-- 장바구니 담기 -->
<insert id="addCart">
insert into wmk_cart (cartNum, userId, gdsNum, gdsColor, gdsSize, gdsText, cartStock)
			values (wmk_cart_seq.nextval, #{userId}, #{gdsNum}, #{gdsColor}, #{gdsSize}, #{gdsText}, #{cartStock})
</insert>		


<!-- 장바구니 보기 -->
<select id="cartList" resultType="com.wmk.ex.vo.CartListVO">
select
    row_number() over(order by c.cartNum desc) as num,
    c.cartNum, c.userId, c.gdsNum, c.cartStock, c.addDate, c.gdsColor, c.gdsSize, c.gdsText,
    g.gdsName, g.gdsPrice, g.gdsimg
from wmk_cart c
    inner join wmk_goods g
        on c.gdsNum = g.gdsNum
    where c.userId = #{userId}
</select>

<!--  장바구니 삭제  -->
<delete id="deleteCart">
 delete wmk_cart
     where cartNum = #{cartNum}
         and userId = #{userId}
</delete>


</mapper>
